{
  "name": "config data",
  "aws_credentials":
  {
    "access_key_id": "YOUR ACCESS KEY ID",
    "secret_access_key": "YOUR SECRET ACCESS KEY",
    "keypath": "path/to/key.pem",
    "keypair_name": "YOUR KEYPAIR NAME"
  },
  "docker_hub_credentials":
  {
    "username": "YOUR DOCKER HUB USER",
    "password": "YOUR DOCKER HUB PASSWORD"
  }
}
